collector_id: tokyo01
data_root: /data
universe:
  experiment_id: formal-60-v3-2026-08-22
  bootstrap_evidence_sha256: 146dd4ae8ae102b026f24760937298368d2efbaf87569624be943553173eed8c
  core_generation: 7
  candidate_revision: 0
  decision_sequence: 8
  core:
    - 1000BONKUSDT
    - 1000PEPEUSDT
    - 1000SHIBUSDT
    - AAVEUSDT
    - ACEUSDT
    - ADAUSDT
    - ALLOUSDT
    - ARBUSDT
    - AVAXUSDT
    - BANKUSDT
    - BEATUSDT
    - BNBUSDT
    - BTCUSDT
    - COTIUSDT
    - CRVUSDT
    - CYSUSDT
    - DOGEUSDT
    - DOTUSDT
    - ETHUSDT
    - FARTCOINUSDT
    - FETUSDT
    - FILUSDT
    - GIGGLEUSDT
    - HOMEUSDT
    - HYPEUSDT
    - ICPUSDT
    - INJUSDT
    - JTOUSDT
    - KAITOUSDT
    - LABUSDT
    - LINKUSDT
    - LITUSDT
    - LTCUSDT
    - NEARUSDT
    - ONDOUSDT
    - PAXGUSDT
    - PENGUUSDT
    - PUMPUSDT
    - SOLUSDT
    - SUIUSDT
    - TAOUSDT
    - TRXUSDT
    - UNIUSDT
    - WLDUSDT
    - WLFIUSDT
    - XLMUSDT
    - XMRUSDT
    - XPLUSDT
    - XRPUSDT
    - ZECUSDT
  boundary:
    - APTUSDT
    - DEXEUSDT
    - ETCUSDT
    - HBARUSDT
    - LDOUSDT
  probe:
    - BSBUSDT
    - CAPUSDT
    - GRVTUSDT
    - REUSDT
    - XAUTUSDT
  automation_enabled: true
  discovery_hour_utc: 23
  discovery_minute_utc: 50
  decision_cutoff_minute_utc: 55
  liquidity_window_days: 14
  probe_minimum_complete_days: 7
  minimum_median_daily_quote_volume: 10000000
  minimum_q25_daily_quote_volume: 5000000
  minimum_daily_quote_volume: 3000000
  maximum_quote_volume_cv: 1.2
  minimum_median_daily_trades: 100000
  minimum_q25_daily_trades: 50000
  minimum_daily_trades: 25000
  liquidity_depth_samples: 3
  liquidity_book_ticker_samples: 5
  maximum_spread_bps: 10
  minimum_thin_depth_10bps: 800
  minimum_thin_depth_50bps: 10000
  depth_stable_candidate_count: 200
  depth_probe_candidate_count: 100
  liquidity_request_interval_seconds: 0.25
  candidate_minimum_dwell_hours: 48
  core_minimum_dwell_days: 14
  candidate_daily_replacements: 2
  core_weekly_replacements: 5
  core_minimum_age_days: 30
  core_entry_rank: 45
  core_retain_rank: 55
  boundary_retain_rank: 10
  stable_pool_warning_size: 65
public_ws_url: wss://fstream.binance.com/public/stream
market_ws_url: wss://fstream.binance.com/market/stream
rest_url: https://fapi.binance.com
public_connection_shards: 4
public_symbol_load_weights:
  1000BONKUSDT: 361
  1000PEPEUSDT: 509
  1000SHIBUSDT: 377
  AAVEUSDT: 491
  ACEUSDT: 556
  ADAUSDT: 2300
  ALLOUSDT: 228
  APTUSDT: 412
  ARBUSDT: 426
  AVAXUSDT: 415
  BANKUSDT: 373
  BEATUSDT: 485
  BNBUSDT: 3000
  BSBUSDT: 238
  BTCUSDT: 9300
  CAPUSDT: 368
  COTIUSDT: 502
  CRVUSDT: 418
  CYSUSDT: 379
  DEXEUSDT: 376
  DOGEUSDT: 8400
  DOTUSDT: 393
  ETCUSDT: 363
  ETHUSDT: 16900
  FARTCOINUSDT: 555
  FETUSDT: 330
  FILUSDT: 407
  GIGGLEUSDT: 209
  GRVTUSDT: 126
  HBARUSDT: 425
  HOMEUSDT: 262
  HYPEUSDT: 525
  ICPUSDT: 332
  INJUSDT: 360
  JTOUSDT: 247
  KAITOUSDT: 327
  LABUSDT: 506
  LDOUSDT: 234
  LINKUSDT: 4500
  LITUSDT: 487
  LTCUSDT: 2300
  NEARUSDT: 465
  ONDOUSDT: 385
  PAXGUSDT: 273
  PENGUUSDT: 446
  PUMPUSDT: 7100
  REUSDT: 321
  SOLUSDT: 4100
  SUIUSDT: 3500
  TAOUSDT: 460
  TRXUSDT: 456
  UNIUSDT: 432
  WLDUSDT: 413
  WLFIUSDT: 395
  XAUTUSDT: 229
  XLMUSDT: 503
  XMRUSDT: 384
  XPLUSDT: 413
  XRPUSDT: 8500
  ZECUSDT: 6300
connection_rotation_seconds: 82800
connection_overlap_seconds: 15
websocket_receive_timeout_seconds: 30
websocket_ping_interval_seconds: 20
websocket_ping_timeout_seconds: 20
subscription_audit_seconds: 60
subscription_audit_timeout_seconds: 20
subscription_audit_failures_before_reconnect: 3
refresh_failures_before_reconnect: 2
websocket_max_queue: 16
websocket_max_message_bytes: 2097152
public_stream_liveness_seconds: 30
mark_price_liveness_seconds: 15
day_seal_grace_seconds: 150
lease_heartbeat_seconds: 30
open_interest_interval_seconds: 30
clock_sample_interval_seconds: 60
snapshot_request_interval_seconds: 1.0
queue_max_bytes: 67108864
queue_warn_ratio: 0.70
queue_resume_ratio: 0.50
chunk_max_seconds: 60
chunk_max_bytes: 268435456
chunk_max_events: 1000000
writer_batch_events: 2000
writer_batch_bytes: 2097152
spool_max_bytes: 10737418240
minimum_free_bytes: 2147483648
storage_check_seconds: 5
d0_enabled: false
log_level: INFO
