host: 167.179.115.243
port: 22
username: data-puller
client_key: /home/scc/pb24000367/.ssh/miry-data-puller
known_hosts: /home/scc/pb24000367/.ssh/miry-data-collector.known_hosts
remote_ready_root: ready
remote_ack_root: control/acks
local_raw_root: /home/scc/pb24000367/Projects/bn/data/raw
local_staging_root: /home/scc/pb24000367/Projects/bn/runtime/rsync
connect_timeout_seconds: 20
io_timeout_seconds: 120
parallel_downloads: 4
rsync_binary: /usr/bin/rsync
ssh_binary: /usr/bin/ssh
