MIRY_APPTAINER=/public/app/apptainer/1.4.5/bin/apptainer
MIRY_DATA_IMAGE=/home/scc/pb24000367/Projects/bn/runtime/miry-data-collector.sandbox
MIRY_RAW_ROOT=/home/scc/pb24000367/Projects/bn/data/raw
MIRY_DERIVED_ROOT=/home/scc/pb24000367/Projects/bn/data/derived
MIRY_COLLECTOR=tokyo01
MIRY_L2_CONCURRENCY=16
